<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button_tiantai.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,933},{275,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,283}}</string>
                <key>sourceSize</key>
                <string>{275,283}</string>
            </dict>
            <key>Element01.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1857},{72,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,117}}</string>
                <key>sourceSize</key>
                <string>{72,117}</string>
            </dict>
            <key>Element02.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1667},{106,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,111}}</string>
                <key>sourceSize</key>
                <string>{106,111}</string>
            </dict>
            <key>Element03.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1844},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>Element04.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1977},{92,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,65}}</string>
                <key>sourceSize</key>
                <string>{92,65}</string>
            </dict>
            <key>Element05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,548},{573,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,206}}</string>
                <key>sourceSize</key>
                <string>{573,206}</string>
            </dict>
            <key>Element06.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1857},{86,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,119}}</string>
                <key>sourceSize</key>
                <string>{86,119}</string>
            </dict>
            <key>Element07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1011},{399,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,347}}</string>
                <key>sourceSize</key>
                <string>{399,347}</string>
            </dict>
            <key>Element08.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1765},{84,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,76}}</string>
                <key>sourceSize</key>
                <string>{84,76}</string>
            </dict>
            <key>Element09.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1520},{126,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,100}}</string>
                <key>sourceSize</key>
                <string>{126,100}</string>
            </dict>
            <key>Element10.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1944},{109,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,97}}</string>
                <key>sourceSize</key>
                <string>{109,97}</string>
            </dict>
            <key>Element11.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1765},{84,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,76}}</string>
                <key>sourceSize</key>
                <string>{84,76}</string>
            </dict>
            <key>Element12.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1179},{159,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,86}}</string>
                <key>sourceSize</key>
                <string>{159,86}</string>
            </dict>
            <key>Element13.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1621},{121,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,165}}</string>
                <key>sourceSize</key>
                <string>{121,165}</string>
            </dict>
            <key>Element14.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,905},{138,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,109}}</string>
                <key>sourceSize</key>
                <string>{138,109}</string>
            </dict>
            <key>Element15.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1223},{193,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,199}}</string>
                <key>sourceSize</key>
                <string>{193,199}</string>
            </dict>
            <key>Element16.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1725},{188,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,131}}</string>
                <key>sourceSize</key>
                <string>{188,131}</string>
            </dict>
            <key>Element17.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1857},{82,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,141}}</string>
                <key>sourceSize</key>
                <string>{82,141}</string>
            </dict>
            <key>Element18.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,804},{415,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,128}}</string>
                <key>sourceSize</key>
                <string>{415,128}</string>
            </dict>
            <key>Element19.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1015},{163,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,163}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>Element20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1359},{127,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,183}}</string>
                <key>sourceSize</key>
                <string>{127,183}</string>
            </dict>
            <key>Element21.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,755},{141,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,149}}</string>
                <key>sourceSize</key>
                <string>{141,149}</string>
            </dict>
            <key>Element22.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1500},{252,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,166}}</string>
                <key>sourceSize</key>
                <string>{252,166}</string>
            </dict>
            <key>arrow_zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1844},{74,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,107}}</string>
                <key>sourceSize</key>
                <string>{74,107}</string>
            </dict>
            <key>boyezhongyiguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1787},{242,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,56}}</string>
                <key>sourceSize</key>
                <string>{242,56}</string>
            </dict>
            <key>button_level01.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1975},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>button_level02.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1466},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>button_level_selecting01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,755},{428,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,255}}</string>
                <key>sourceSize</key>
                <string>{428,255}</string>
            </dict>
            <key>button_level_selecting02.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,548},{428,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,255}}</string>
                <key>sourceSize</key>
                <string>{428,255}</string>
            </dict>
            <key>button_linker01.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1805},{92,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,25}}</string>
                <key>sourceSize</key>
                <string>{92,25}</string>
            </dict>
            <key>button_linker02.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1779},{92,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,25}}</string>
                <key>sourceSize</key>
                <string>{92,25}</string>
            </dict>
            <key>button_linker03.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1753},{92,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,25}}</string>
                <key>sourceSize</key>
                <string>{92,25}</string>
            </dict>
            <key>button_linker04.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1727},{92,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,25}}</string>
                <key>sourceSize</key>
                <string>{92,25}</string>
            </dict>
            <key>button_linker05.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1727},{92,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,25}}</string>
                <key>sourceSize</key>
                <string>{92,25}</string>
            </dict>
            <key>button_linker06.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1701},{92,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,25}}</string>
                <key>sourceSize</key>
                <string>{92,25}</string>
            </dict>
            <key>button_linker07.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1675},{92,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,25}}</string>
                <key>sourceSize</key>
                <string>{92,25}</string>
            </dict>
            <key>button_linker08.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1649},{92,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,25}}</string>
                <key>sourceSize</key>
                <string>{92,25}</string>
            </dict>
            <key>button_linker09.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1805},{92,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,25}}</string>
                <key>sourceSize</key>
                <string>{92,25}</string>
            </dict>
            <key>button_linker10.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1779},{92,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,25}}</string>
                <key>sourceSize</key>
                <string>{92,25}</string>
            </dict>
            <key>button_linker11.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1999},{92,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,25}}</string>
                <key>sourceSize</key>
                <string>{92,25}</string>
            </dict>
            <key>button_linker_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2035},{101,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,6}}</string>
                <key>sourceSize</key>
                <string>{101,6}</string>
            </dict>
            <key>button_map_switch01.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1217},{261,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,141}}</string>
                <key>sourceSize</key>
                <string>{261,141}</string>
            </dict>
            <key>button_map_switch02.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1359},{261,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,140}}</string>
                <key>sourceSize</key>
                <string>{261,140}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{997,546}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{997,546}}</string>
                <key>sourceSize</key>
                <string>{997,546}</string>
            </dict>
            <key>laba.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1359},{190,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,365}}</string>
                <key>sourceSize</key>
                <string>{190,365}</string>
            </dict>
            <key>reward01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1359},{79,106}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{129,106}</string>
            </dict>
            <key>reward01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1361},{129,66}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{129,66}}</string>
                <key>sourceSize</key>
                <string>{129,106}</string>
            </dict>
            <key>reward02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1667},{90,97}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{90,97}}</string>
                <key>sourceSize</key>
                <string>{132,97}</string>
            </dict>
            <key>reward02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1149},{132,73}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{132,73}}</string>
                <key>sourceSize</key>
                <string>{132,97}</string>
            </dict>
            <key>reward03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1428},{128,91}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,18},{128,91}}</string>
                <key>sourceSize</key>
                <string>{210,131}</string>
            </dict>
            <key>reward03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1423},{210,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,131}}</string>
                <key>sourceSize</key>
                <string>{210,131}</string>
            </dict>
            <key>reward04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1667},{102,112}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{138,112}</string>
            </dict>
            <key>reward04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1266},{130,94}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{130,94}}</string>
                <key>sourceSize</key>
                <string>{138,112}</string>
            </dict>
            <key>reward05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1844},{103,99}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{115,99}</string>
            </dict>
            <key>reward05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1555},{115,93}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{115,93}}</string>
                <key>sourceSize</key>
                <string>{115,99}</string>
            </dict>
            <key>reward06_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1842},{119,93}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,93}}</string>
                <key>sourceSize</key>
                <string>{159,93}</string>
            </dict>
            <key>reward06_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1077},{159,71}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{159,71}}</string>
                <key>sourceSize</key>
                <string>{159,93}</string>
            </dict>
            <key>reward07_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1951},{119,93}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,93}}</string>
                <key>sourceSize</key>
                <string>{159,93}</string>
            </dict>
            <key>reward07_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1005},{159,71}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{159,71}}</string>
                <key>sourceSize</key>
                <string>{159,93}</string>
            </dict>
            <key>reward08_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1952},{119,93}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,93}}</string>
                <key>sourceSize</key>
                <string>{159,93}</string>
            </dict>
            <key>reward08_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,933},{159,71}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{159,71}}</string>
                <key>sourceSize</key>
                <string>{159,93}</string>
            </dict>
            <key>the Statue of Liberty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1555},{207,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,479}}</string>
                <key>sourceSize</key>
                <string>{207,479}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_map.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1875a6ae26295ceae3018780843bf35$</string>
            <key>textureFileName</key>
            <string>ui_map.png</string>
        </dict>
    </dict>
</plist>
