<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>American_dream_in_china.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,395},{64,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,96}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>badge_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,298},{64,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,96}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>badge_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,298},{64,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,96}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>badge_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,404},{64,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,96}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>badge_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,404},{64,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,96}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>badge_crab.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,202},{124,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,93}}</string>
                <key>sourceSize</key>
                <string>{124,93}</string>
            </dict>
            <key>badge_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,296},{108,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,107}}</string>
                <key>sourceSize</key>
                <string>{108,107}</string>
            </dict>
            <key>badge_pad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{149,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,200}}</string>
                <key>sourceSize</key>
                <string>{149,200}</string>
            </dict>
            <key>badge_tiantai.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,176},{64,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,96}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>badge_title_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,76},{99,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,24}}</string>
                <key>sourceSize</key>
                <string>{99,24}</string>
            </dict>
            <key>badge_title_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,51},{99,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,24}}</string>
                <key>sourceSize</key>
                <string>{99,24}</string>
            </dict>
            <key>badge_title_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,26},{99,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,24}}</string>
                <key>sourceSize</key>
                <string>{99,24}</string>
            </dict>
            <key>badge_title_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1},{100,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,24}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
            <key>badge_title_crab.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,151},{73,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,24}}</string>
                <key>sourceSize</key>
                <string>{73,24}</string>
            </dict>
            <key>badge_title_fkcg.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,126},{97,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,24}}</string>
                <key>sourceSize</key>
                <string>{97,24}</string>
            </dict>
            <key>text_dreamsinChina_titleC.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,273},{123,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,24}}</string>
                <key>sourceSize</key>
                <string>{123,24}</string>
            </dict>
            <key>text_tiantaiaiqin.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,101},{97,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,24}}</string>
                <key>sourceSize</key>
                <string>{97,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_medal.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a87c37f92610d13c901fa329207c2cd$</string>
            <key>textureFileName</key>
            <string>ui_medal.png</string>
        </dict>
    </dict>
</plist>
